// стили отображаемого в календаре события
.task {
	background-color: blue;

	color: white;
	width: 100%;
	z-index: 1;
	border: 1px dashed red;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	overflow: hidden;
	&:hover {
		box-shadow: 13px 8px 21px 7px rgba(0, 0, 0, 0.75);
	}
	&__title {
		font-size: 1.5em;
		margin: 0;
	}
	&__description {
		font-size: 1em;
	}
	&__time {
		display: block;
		margin: 15px, auto;
	}
}
